@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
    margin: 0px;
    padding: 0px;
    background: #eee;
    font-size: 13px;
}
.sidebar, .navbar {
    font-family: 'Overlock', cursive;
}
.logindetails span {
    padding-top: 4px;
    margin-top: 4px;
    display: block;
    font-weight: bold;
}
.box {
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 3px gray;
    -moz-box-shadow: 0px 1px 3px gray;
    -ms-box-shadow: 0px 1px 3px gray;
    -o-box-shadow: 0px 1px 3px gray);
    box-shadow: 0px 1px 3px gray;
    background: white;
}
.box-content {
    padding: 10px;
    background: white;
}
.public-label {
    color: green;
}
.private-label {
    color: black;
}
.limited-label {
    color: orangered;
}
.box-highlight {
    background-color: white;
    min-height: 70px;
    box-shadow: none;
}
.box-footer {
    border-top: 1px solid #c4c4c4;
    padding: 4px;
    padding-bottom: 0px;
    background: #fafafa;
    padding-left: 10px;
    font-size: 12pt;
    color: #c4c4c4;
}
p.bookmark-description {
    color: #777777;
    padding: 8px;
    font-size: 9pt;
}
.message-stats {
    color: #777777;
    font-size: 8pt;
}
.box-footer a.btn {
    line-height: 10px;
    font-size: 12px;
    padding: 4px 10px 0px;
}

.box-footer .post-type {
    color: #555555;
}
.box-highlight .box-content {
    padding: 4px;
}
.item-menu {
    float: right;
}
.item-menu .dropdown-toggle {
    font-size: 14px;
}
.item-menu a {
    text-decoration: none;
}
.bookmark-image {
    float: left;
}
.bookmark-with-image {
    min-height: 100px;
}

.bookmark-url-loading {
    background-color: #f4f4f4;
}

.bookmark {
    border-top: 1px solid #DDDDDD;
}

.bookmark .link {
    font-weight: bold;
    font-size: 120%;
}
.sidebar li {
    list-style-type: none;
    height: 28px;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: #777;
    font-size: 8pt;
    text-align: center;
}
.sidebar li:hover {
    color: #000;
}
.sidebar li div {
    font-size: 32px;
    align: center;
    width: 100%;
}
.sidebar a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 8pt;
    color: #777777;
}

#stream {
}
.stream-filters {
    margin-bottom: 20px;
}
.stream-message header {
    font-size: 9pt;
    color: #777777;
}
.stream-message header strong {
    font-size: 10pt;
    color: #000;
}

.stream-messages {
    padding-left: 30px;
    padding-top: 30px;
}

#publisher-inner {
    height: 70px;
    border-radius: 5px;
}

.profile {
    margin-bottom: 10px;
    max-width: 700px;
}
.people-list {
    list-style-type: none;
    margin-left: 0px;
}
.people-list li {
    margin-bottom: 3px;
}
.content .people-list li  {
    float: left;
    width: 33%;
    height: 60px;
}
.loading {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/ajax-loader.gif');
    height: 30px;
}

div#header {
    background: url('/grain.png') rgb(44, 44, 44);
    height: 50px;
    color: #ffffff;
    font-family: 'Overlock', cursive;
    position: fixed;
    width: 100%;
    z-index: 99;
    font-size: 15px;
}
div#header .help-inline {
    color: #ffffff;
}
div#header .current-profile {
    padding-top: 5px;
}
.popover {
    width: 300px;
}
div#header .navbar-inner {
    background-color: #00C8FA;
    background-image: none;
    border: 0px;
    border-shadow: 0px;
    border-radius: 0px;
}
div#header .brand {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 40px;
    font-weight: 200;
    color: rgba(148, 206, 0, 0.9);
    text-shadow: 0 1px 1px black;
}
div#header .brand:hover {
    text-decoration: none;
}

#header-inner {
    margin: auto;
    width: 1000px;
}
.user-card {
    padding: 5px;
}
.alert {
    position: fixed;
    top: 50px;
    margin: auto;
    background: rgb(255, 255, 202);
    border-bottom: 1px solid rgb(255, 212, 74);
    border-left: 1px solid rgb(255, 212, 74);
    border-right: 1px solid rgb(255, 212, 74);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 99;
    width: 640px;
}

.img-polaroid {
    width: 64px;
    box-shadow: 0 1px 3px rgb(54, 54, 54);
    padding: 0px;
    border: 2px solid white;
}
.img-polaroid-profile {
    width: 175px;
    box-shadow: 0 1px 3px rgb(54, 54, 54);
    padding: 0px;
    border: 2px solid white;
}

.img-polaroid-header {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: -7px;
}

div.stream-add-message-box {
    margin-left: 30px;
}

div#stream-left-sidebar {
    /*position: fixed;*/
}

.header-navigation li{
    display: inline;
    width: auto;
    list-style-type: none;
    margin-left: 5px;
}

.header-navigation a {
    color: rgb(165, 165, 165);
    text-decoration: none;
}
.header-navigation a:hover {
    color: white;
    text-decoration: none;
}

.header-navigation {
    float: right;
    width: auto;
    margin-top: 10px;
}

.header-info {
    float: right;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}

#main {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 100px;
    max-width: 1000px;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 12px;
}
#publisher-main {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 90px;
    max-width: 1000px;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 12px;
}
#stream-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 12px;
}
#stream-left-sidebar {
    padding-top: 30px;
}
#stream-container {
    border-left: 1px solid #ccc;
}
.sidebar {
    padding-top: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.sidebar ul {
    margin: 0px;
    padding: 0px;
}
.content {
}
.alert-container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
a {
    color: rgb(56, 55, 55);
}
a:hover {
    color: rgb(56, 55, 55);
}
.conversation-message {
    font-size: 8pt;
    color: #777777;
}
form.stream-message-add-replyto {
    margin: 0px;
}
.stream-message-add-replyto .actions {
    display: none;
}
.stream-message-add-replyto textarea {
    font-size: 9pt;
    height: 10px;
    min-height: 10px;
}
.hidden-content {
    display: none;
}
.popover-user-details {
    width: 400px;
}
.popover .arrow {
    top: 25px !important;
}

a#notifications {
    color: rgb(165, 165, 165);
}
.notification-count {
    position: relative;
    z-index: 999;
    top: -20px;
    right: 0px;
}
.new-messages a {
    display: block;
    text-align: center;
    color: #c09853;
}
.message-body {
    margin-top: -10px;
}
.status-length-left {
    font-size:8pt;
}
.conversation {
    max-width: 700px;
}
.label-info[href] {
    background: none;
}
#login-box {
    background: white;
    text-align: center;
    box-shadow: 0 1px 3px gray;
    padding: 10px;
}
.label {
    background: white;
    padding: 0px;
    color: rgb(38, 114, 9);
    text-shadow: none;
    font-weight: normal;
}

@media (max-width: 767px) {
    body {
        padding:0!important;
        font-size:13px!important
    }

    .box {
        border:none!important;
        padding:5px!important
    }

    .content {
        padding:0!important
    }

    .sidebar {
        height: 90px;
    }

    .sidebar li {
        float:left
    }

    .sidebar div {
        font-size:20px!important
    }

    .pull-right {
        text-align:right
    }

    .btn {
        margin-top:5px
    }

    #header {
        padding:5px
    }

    .hidden-phone {
        display:block!important;
        float:left!important;
        width:32px!important;
        margin-right:16px!important
    }

    .img-polaroid {
        width:32px;
        height:32px;
        border:none!important;
        box-shadow:none!important;
        webkit-box-shadow:none!important;
        padding:8px!important
    }
}

