<h5>{{ title }} <span class="total">{{ users.total }}</span></h5> (<a href="{{ path(route, {'entity': profile.uri|url_encode}) }}">View All</a>)

<div class="clearfix people-list" data-url="{{ path(route, {'entity': profile.uri|url_encode}) }}">
    {% for user in users.list %}
    <div class="user user-card">
        <a class="user-details" href="{{ path('stream_user', {'entity': user.uri|url_encode}) }}">
            <img class="img-polaroid" height="30" width="30" src="{% if user.basic.avatar %}{{ user.basic.avatar }}{% else%}/zelten.png{% endif %}" />
       {{ user.name }}
        </a>
    </div>
    {% endfor %}
</div>
