{% extends app.request.isXmlHttpRequest() ? "ajax.html" : "layout.html" %}

{% block title %}{% if mentioned_entity is defined %}Notifications{% else %}Stream{% endif %}{% endblock %}

{% block content %}

    {% if post_add %}

    <div id="stream" {% if mentioned_entity is defined %}data-mentioned-entity="{{ mentioned_entity }}"{% endif %}>

<div style="background: white; border-bottom: 1px solid #ccc;">
<div id="publisher-main" class="container-fluid">
<div class="row-fluid">
<div class="span2" id="publisher-left-sidebar"></div>
<div class="span8" id="publisher">

    <div class="stream-add-message-box">
        <form action="{{ path('stream_write') }}" method="message" class="stream-message-add">
            <div class="box box-highlight">
                <div class="box-content" >
                    <div  class="form-inline">
                        <div class="span2">
                    	{% if current_entity().basic.avatar %}
                   	 <img class="avatar img-polaroid" src="{{ current_entity().basic.avatar }}" width="60" height="60" />
                    	{% else %}
                    	<img class="avatar img-polaroid" src="/zelten.png" height="60" width="60" />
                   	 {% endif %}
                        </div>
                        <div class="span10">
                        <textarea class="message span12" id="publisher-inner" name="message" rows="1" placeholder="Share whats new..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer-publisher actions hidden-content">
                    <div class="row-fluid">
                        <div class="span2"><small>Visible to:</small></div>
                        <div class="span10">
                            <input type="text" class="complete-permissions span12" name="permissions" value="" />
                        </div>
                    </div>

                    <input type="submit" class="stream-message-add-btn btn btn-success" value="Share" disabled="disabled" />
                    <input type="reset" class="btn stream-message-add-cancel" value="Cancel" />
                    <span class="status-length-left"></span>
                </div>
            </div>
        </form>
    </div>
    {% endif %}

</div>
<div class="span2" id="publisher-right-sidebar"></div>
</div>
</div>
</div>

<div id="stream-main" class="container-fluid">
<div class="row-fluid">
<div class="span2" id="stream-left-sidebar">
                <h5>Show:</h5>
                <div class="filter-post-type pull-right" data-toggle="buttons-radio">
                    <button value="all" type="button" class="btn active stream-controls" title="All Posts">All posts</button>
                    <button value="status" type="button" class="btn stream-controls" title="Show only Status Posts"> Statuses</button>
                    {% if mentioned_entity is not defined %}
                    <button value="essay" type="button" class="btn stream-controls" title="Show only Essays"> Essays</button>
                    <button value="repost" type="button" class="btn stream-controls" title="Show only Reposts"> Reposts</button>
                    <button value="bookmark" type="button" class="btn stream-controls" title="Show only Bookmarks"> Bookmarks</button>
                    <button value="favorite" type="button" class="btn stream-controls" title="Show only Favorited"> Favorited</button>
                    {% else %}
                    <button value="follower" type="button" class="btn stream-controls show-tooltip" title="Show only Follower Notifications"> Follower notifications</button>
                    {% endif %}
                </div>
</div>

<div class="span8" id="stream-container">



       <div class="stream-notifications"></div>

       <div class="stream-messages">
        {% for message in messages.messages %}
          {% include "_message.html" with {'message': message} %}
      {% endfor %}
           <div class="hidden-desktop visible-tablet visible-phone">
               <div class="alert alert-info" style="text-align:center;">
                  <a href="#" class="loadOlderPosts">Load more posts</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="span2">
</div>

</div>
</div>
{% endblock %}
